.topic-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
    height: 20em;
    border: solid 1px rgb(157, 157, 157);
    border-radius: 2em;
    top: 0;
    margin: 0 auto 1em auto;
    z-index: 10;
}

.topic-container .topic_image {
    height: 80%;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self:flex-start;
    width: 100%;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background-color: rgba(0, 166, 125, 0.35);
    z-index: 11;
}

.topic-container .topic_image img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.topic-container .topic_image_text {
    top: 0;
    left: 0;
    height: 15%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgba(155, 74, 74, 0);
    z-index: 15;
    padding-left: 2em;


}
.topic-container .topic_image_text h1{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 3em;
    font-weight: 800;
    color: #4b4a4b;
}


/*Посты*/

.container_body {
    position: relative;
    width: 70%;
    background-color: #00FFFF;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 колонки */
    gap: 1% 1%; /* row-gap column-gap */
    height: 100%;
    background-color: rgba(151, 27, 234, 0);
    top: 0%;
    margin: 0 auto;
}


/*Посты*/

.container_content{
    position: relative;
    left: 0%;
    right: 0%;
    bottom: 0;
    top: 0;
    float: left;
    z-index: 9999;
    justify-content: left;
    width: 100%;
    height: 25em;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 2em;
    border: solid 1px rgb(157, 157, 157);
    transition: .6s;
}

.container_content:hover {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);

}

.container_content_article {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
}

.container_content a {
    width: 100%;
    height: 100%;
    background-color: rgba(59, 154, 96, 0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    text-decoration: none;
    pointer-events: auto;
    outline: none;

}

.container_content .image_post {
    align-self: flex-start;
    object-fit: cover;
    width: 100%;
    height: 10em;
    background-color: rgba(93, 1, 62, 0.25);
    margin: 0 auto;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.container_content .content_post {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 45%;
    background-color: rgba(62, 187, 62, 0);
    align-self: center;
    text-align: left;
    justify-content: left;
    z-index: 10;
    padding: 0 1em 0 1em;
    box-sizing:border-box;
}

.container_content .content_post h1 {
    padding: 0;
    margin: 0.5em auto;
    align-self: flex-start;
    font-size: 1.3em;
    font-weight: 700;
    color: #3b3b3b;
}

.container_content .content_post a {
    position: relative;
    align-self: center;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: #282828;
    font-weight: 600;
}

.container_content .content_post p {
    padding: 0;
    margin: 0 auto;
    position: relative;
    font-size: 1.1em;
    color: #3a3a3a;
    line-height: 1.3;
    align-self: center;
}

.container_content .footer_post {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: flex-start;
    padding: 1em 15px 15px 1em;
    box-sizing:border-box;
    width: 100%;
    height: 4em;
    background-color: rgba(99, 176, 162, 0);
}

.container_content small {
    font-weight: 800;
    color: #6c6c6c;
}

.container_content .footer_post .like_post {
    margin-left: 2em;
    width: 1em;
    height: 1em;
}

.container_content .footer_post .comment_post {
    margin-left: 2em;
    width: 1em;
    height: 1em;
}

/* Базовые стили для поста */
.post {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  position: relative;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.post-header h3 {
  margin: 0;
  color: #333;
}

.post-content {
  color: #666;
  line-height: 1.5;
}



