{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css/home.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css/base_page.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css/login_register.css')}}">
{% endblock%}

Блок для сообщений
{% block content %}
    <div class="container_login">
    <p class="login_to_website"><label>Мой блог</label></p>

    {% if messages %}
        <ul class="flashes">
            {% for message in messages  %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


<form action="{{ url_for('user_edit', user_id=current_user.id) }}" method="POST" class="form-contact">
    <p><label>Имя: </label> <input type="text" name="name" value="" required>
    <p><label>Фамилия: </label> <input type="text" name="surname" value="" required>
    <p><label>Email: </label> <input type="text" name="email" value="" required>
{#    <p><label>Название блога: </label> <input type="text" name="blog" value="" required>#}
{#    <p><label>Описание блога: </label> <input type="textarea" name="blog" value="" required>#}
{#    <p><label>Пароль: </label> <input type="password" name="password" value="" required>#}
{#    <p><label>Повторите пароль: </label> <input type="password" name="password2" value="" required>#}
    <p><input class="input" type="submit" value="Сохранить">
</form>
{% endblock %}
