.container_body {
    position: relative;
    width: 70%;
    background-color: #00FFFF;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 колонки */
    gap: 1% 1%; /* row-gap column-gap */
    height: 100%;
    background-color: rgba(151, 27, 234, 0);
    top: 0%;
    margin: 0 auto;
}

.container_content{
    position: relative;
    left: 0%;
    right: 0%;
    bottom: 0;
    top: 0;
    float: left;
    z-index: 9999;
    justify-content: left;
    width: 100%;
    height: 27em;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 2em;
    border: solid 1px rgb(157, 157, 157);
    transition: .6s;
}

.container_content:hover {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

/*Кто выложил пост*/

.user_post {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding-left: 1em;
    max-width: 100%;
    height: 15%;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    background-color: rgba(183, 126, 126, 0);

}
.user_image {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #8d8d8d;
    background-color: rgba(0, 255, 0, 0);

}
.user_info {
    justify-content: center;
    align-content: center;
    position: relative;
    margin-left: 1em;
    padding: 0;
    width: 70%;
    height: 100%;
    z-index: 40;
    color: black;
    font-size: 16px;
    background-color: rgba(0, 255, 255, 0);
}

.user_info p {
    font-size: 1rem;
    font-weight: 600;
    color: #3d3d3d;
    padding: 0;
    margin: 0;
}

.user_info small {
    font-weight: 600;
    color: #595959;
}



.container_content_article {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
}

.container_content a {
    width: 100%;
    height: 100%;
    background-color: rgba(59, 154, 96, 0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 30;
    cursor: pointer;
    text-decoration: none;
    pointer-events: auto;
    outline: none;

}

.container_content .image_post {
    align-self: flex-start;
    object-fit: cover;
    width: 100%;
    max-height: 30%;
    background-color: rgba(93, 1, 62, 0.25);
    margin: 0 auto;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.container_content .content_post {
    position: relative;
    width: 100%;
    min-height: 45%;
    background-color: rgba(62, 187, 62, 0);
    align-self: center;
    text-align: left;
    justify-content: left;
    z-index: 10;
    margin-bottom: 1.5em;
    padding: 0px 15px 15px;
    box-sizing:border-box;
}

.container_content .content_post h1 {
    align-self: flex-start;
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 0.5em;
    color: #3b3b3b;
}

.container_content .content_post a {
    position: relative;
    align-self: center;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: #282828;
    font-weight: 600;
}

.container_content .content_post p {
    position: relative;
    font-size: 1.1em;
    color: #3a3a3a;
    line-height: 1.3;
    align-self: center;
}

.container_content .footer_post {
    position: absolute;
    top: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    padding: 1em 15px 15px 1em;
    box-sizing:border-box;
    width: 100%;
    min-height: 20%;
    background-color: rgba(99, 176, 162, 0);
}

.container_content .footer_post .like_post {
    margin-left: 2em;
    width: 1em;
    height: 1em;
}

.container_content .footer_post .comment_post {
    margin-left: 2em;
    width: 1em;
    height: 1em;
}