html {
    --scroll-behavior: smooth; /*Плавная прокрутка к якорям*/
    scroll-behavior: smooth;
    height: 100%;
    font-family: "Montserrat", sans-serif;
   }

.container_body {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_create_post {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    left: 0; /*Для центрирования*/
    right: 0; /*Для центрирования*/
    top: 0; /*Для центрирования*/
    margin-top: 5%;
    z-index: 9999;
    align-items: center;
    background-color: rgba(157, 103, 103, 0);
}


.container_create_post input {
    color: #707070;
    border-radius: 0.45rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100vh;
    height: 7vh;
    font-size: 20px;
    font-weight: 800;
    align-self: start;
    margin-bottom: 2vh;

}

.container_create_post textarea {
    border-radius: 0.45rem;
    color: #313131;
    width: 100vh;
    height: 50vh;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2vh;
    word-wrap: break-word;

}

.container_create_post .dropdown {
    width: 20vh;
    background-color: rgba(13, 13, 13, 0);
    margin-bottom: 15px;

}

.container_create_post .dropdown-content {
    display: none;
    background-color: rgba(234, 232, 232, 0.25);
    width: 20vh;
    box-shadow: 0px 8px 16px 0px rgb(255, 255, 255);
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {background-color: #f1f1f1}


.back_to_all_posts {
    position: relative;
    align-self: start;
    font-size: 20px;
    margin-top: 3%;
    text-decoration: none;
    z-index: 99999;
    height: 40px;
    background-color: rgba(189, 187, 187, 0);

}

.back_to_all_posts a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #e1e1e1;
}

.back_to_all_posts a:hover {
  background-color: #b2b2b2;
  color: black;
}

.theme_selector {
    height: 3em;
    background-color: rgba(0, 255, 0, 0);
}

.theme_selector .label{
    font-size: 4em;
    font-weight: 700;
    color: #3b3b3b;
}

.theme_selector_option {
    width: 9em;
    height: 2em;
    border-radius: 2em;
    font-size: 1em;
    font-weight: 700;
    color: #3b3b3b;
}


.theme_selector_name {
    font-size: 16px;
    font-weight: 700;
    color: #3f3f3f;
}


.create_post {
    position: relative;
    display: flex;
    width: 100%;
    height: 4em;
    background-color: rgba(0, 255, 255, 0);
}

.create_post button {
    align-self: center;
    align-content: center;
    text-decoration: none;
    width: 13em;
    height: 3em;
    font-size: 1rem;
    font-weight: 600;
    color: #fdfdfd;
    /*border: 2px solid #797979;*/
    background-color: rgb(63, 63, 63);
    cursor: pointer;
    border-radius: 2em;
    text-align: center;
    box-sizing:border-box;
    transition: .6s;
}
.create_post a:hover {
    background-color: rgb(101, 101, 101);
}


