

/*Каталог тем*/
.container_list_themes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgba(98, 151, 178, 0);
    height: 70px;
    width: 70%;
    left: 0;
    right: 0;
    margin: 0.3em auto;
    z-index: 99999;
    transition: .6s;
}

.container_list_themes .all_themes{
    width: 6em;
}

.container_list_themes nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container_list_themes nav ul a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #2a2a2a;
}

.container_list_themes nav ul li {
    align-content: center;
    align-items: center;
    flex-direction: row;
    height: 2em;
    /*width: 6em;*/
    display: flex;
    padding: 0.5em 1em;
    border-radius: 1em;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(171, 170, 170);
    background-color: #fffeff;
    text-decoration: none;
    margin: auto 0.5em auto;
    cursor: pointer;
    transition: .2s;
}

.container_list_themes nav ul li:hover {
    background-color: #e7e7e7;
    border: 1px solid rgb(121, 121, 121);
}

/* Для адаптивности на смартфонах */
@media (max-width: 1100px) {
    .container_list_themes nav ul li {
        font-size: 12px;
        padding: 0.3em 0.3em;
    }
}



/*Основной контент*/

body {
    position: relative;
    background-color: #fdfdfd;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
    border: solid 3px rgba(241, 55, 55, 0);
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/*Разделение body на основной контент и футер*/
main{
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

/*Самый популярный пост за сегодня*/

.container_content1{

    display: flex; /*Для центрирования*/
    width: 80%; /*Для центрирования*/
    left: 0; /*Для центрирования*/
    right: 0; /*Для центрирования*/
    margin: 0px auto; /*Для центрирования*/
    justify-content: center;
    align-content: flex-start;
    background-color: rgb(255, 255, 255);
    height: 400px;
    border-radius: 2em;
    border: solid 1px rgba(28, 27, 27, 0);
}


.container_content1 .container_content1_left {
    position: absolute;
    /*left: 2.5%;*/
    height: 25em;
    width: 30%;
    background-color: rgba(171, 171, 171, 0);
    z-index: auto;
    /*backdrop-filter: blur(10px);*/
    /*-wbkit-backdrop-filter: blur(10px);*/
    justify-content: center;
    align-content: center;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.container_content1 .container_content1_image {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 2em;
}

.container_content1 h1{
    font-weight: 600;
    text-align: center;
    color: white;
    padding: 2em 2em;
    box-sizing:border-box;
    line-height: 1.5;
    font-size: 2em;
}

/* Для адаптивности на смартфонах */
@media (max-width: 1100px) {
    .container_content1 h1 {
        font-size: 1.4em;
    }
}

/*О популярных постах */

.about_popular_posts{
    height: 2em;
    width: 100%;
    margin: 1em auto;
    background-color: rgba(1, 12, 10, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Пространство между элементами */
    align-items: center;
}

.about_popular_posts h1{
    font-size: 1.8em;
    font-weight: 700;
    align-items: flex-start;
    text-align: center;
    margin: 0;
    padding-top: 0px; /* Отступ сверху для текста */
}

/*Три популярных поста*/

/*.first_posts {*/
/*    position: relative;*/
/*    display: flex;*/
/*    width: 80%;*/
/*    height: 250px;*/
/*    background-color: rgba(46, 126, 126, 0);*/
/*    top: 0;*/
/*    z-index: 9999;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin: 0 auto;*/
/*}*/

/*.container_content2{*/
/*    position: relative;*/
/*    display: flex; !*Для центрирования*!*/
/*    width: 32%; !*Для центрирования*!*/
/*    left: 0; !*Для центрирования*!*/
/*    right: 0%; !*Для центрирования*!*/
/*    bottom: 0%;*/
/*    top: 0%; !*Для центрирования*!*/
/*    margin: 0 auto; !*Для центрирования*!*/
/*    float: left;*/
/*    z-index: 9999;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: rgb(74, 111, 117);*/
/*    height: 250px;*/
/*    border-radius: 2em;*/
/*    border: 1px solid rgba(141, 141, 141, 0);*/
/*    cursor: pointer;*/
/*    transition: .5s;*/
/*}*/


/*.container_content2:hover {*/
/*    border: 2px solid #6deec3;*/
/*}*/

/*.container_content3{*/
/*    position: relative;*/
/*    display: flex; !*Для центрирования*!*/
/*    width: 32%; !*Для центрирования*!*/
/*    left: 0%; !*Для центрирования*!*/
/*    right: 0%; !*Для центрирования*!*/
/*    top: 0%; !*Для центрирования*!*/
/*    margin: 0 auto; !*Для центрирования*!*/
/*    float: left;*/
/*    z-index: 9999;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: rgb(74, 111, 117);*/
/*    height: 250px;*/
/*    border-radius: 2em;*/
/*    border: 1px solid #8d8d8d;*/
/*    cursor: pointer;*/
/*    transition: .5s;*/
/*}*/

/*.container_content3:hover {*/
/*    border: 2px solid #6deec3;*/
/*}*/

/*.container_content4{*/
/*    position: relative;*/
/*    display: flex; !*Для центрирования*!*/
/*    width: 32%; !*Для центрирования*!*/
/*    left: 0; !*Для центрирования*!*/
/*    right: 0%; !*Для центрирования*!*/
/*    bottom: 10%;*/
/*    top: 0%; !*Для центрирования*!*/
/*    margin: 0 auto; !*Для центрирования*!*/
/*    float: right;*/
/*    z-index: 9999;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: rgb(74, 111, 117);*/
/*    height: 250px;*/
/*    border-radius: 2em;*/
/*    border: 1px solid rgba(16, 16, 16, 0);*/
/*    cursor: pointer;*/
/*    transition: .5s;*/
/*}*/

/*.container_content4:hover {*/
/*    border: 2px solid #6deec3;*/
/*}*/

/*Популярные посты*/

.container_body {
    display: flex;
    width: 80%;
    position: relative;
    top: 0;
    margin: 1em auto;
    background-color: rgba(38, 134, 134, 0);
    border: solid 3px rgba(234, 223, 223, 0);
    padding: 0;
}

.container_popular_posts{
    display: flex;
    min-height: 100%;
    width: 100%;
    background-color: rgba(220, 175, 236, 0);
    margin: 0 auto;
    z-index: 9999;
}

.popular_posts{

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    gap: 1em 1em; /* row-gap column-gap */
    width: 100%;
    height: 100%;
    background-color: rgba(151, 27, 234, 0);
    top: 0%;
    margin: 0 auto;
}

/* Для адаптивности на планшетах */
@media (max-width: 1100px) {
    .popular_posts {
        grid-template-columns:  repeat(2, 1.5fr); /* 2 колонки по 1.5 грида */
    }
}

/* Для адаптивности на мобильных */
@media (max-width: 768px) {
    .popular_posts {
        grid-template-columns:  1fr; /* 1 колонка */
    }
}

.container_content{
    position: relative;
    left: 0%;
    right: 0%;
    bottom: 0;
    top: 0;
    float: left;
    z-index: 9999;
    justify-content: left;
    width: 100%;
    height: 27em;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 2em;
    border: solid 1px rgb(157, 157, 157);
    transition: .6s;
}

.container_content:hover {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

/*Кто выложил пост*/

.user_post {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1em;
    padding-left: 1em;
    max-width: 100%;
    height: 15%;
    background-color: rgba(183, 126, 126, 0);
}
.user_image {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #8d8d8d;
    background-color: rgba(0, 255, 0, 0);

}
.user_info {
    justify-content: center;
    align-content: center;
    position: relative;
    margin-left: 1em;
    padding: 0;
    width: 70%;
    height: 100%;
    z-index: 40;
    color: black;
    font-size: 16px;
    background-color: rgba(0, 255, 255, 0);
}

.user_info p {
    font-size: 1rem;
    font-weight: 600;
    color: #3d3d3d;
    padding: 0;
    margin: 0;
}

.user_info small {
    font-weight: 600;
    color: #595959;
}



.container_content_article {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
}

.container_content a {
    width: 100%;
    height: 100%;
    background-color: rgba(59, 154, 96, 0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 30;
    cursor: pointer;
    text-decoration: none;
    pointer-events: auto;
    outline: none;

}

.container_content .image_post {
    align-self: flex-start;
    object-fit: cover;
    width: 100%;
    max-height: 30%;
    background-color: rgba(93, 1, 62, 0.25);
    margin: 0 auto;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.container_content .content_post {
    position: relative;
    width: 100%;
    min-height: 45%;
    background-color: rgba(62, 187, 62, 0);
    align-self: center;
    text-align: left;
    justify-content: left;
    z-index: 10;
    margin-bottom: 1.5em;
    padding: 0px 15px 15px;
    box-sizing:border-box;
}

.container_content .content_post h1 {
    align-self: flex-start;
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 0.5em;
    color: #3b3b3b;
}

.container_content .content_post a {
    position: relative;
    align-self: center;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: #282828;
    font-weight: 600;
}

.container_content .content_post p {
    position: relative;
    font-size: 1.1em;
    color: #3a3a3a;
    line-height: 1.3;
    align-self: center;
}

.container_content .footer_post {
    position: absolute;
    top: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    padding: 1em 15px 15px 1em;
    box-sizing:border-box;
    width: 100%;
    min-height: 20%;
    background-color: rgba(99, 176, 162, 0);
}

.container_content .footer_post .like_post {
    margin-left: 2em;
    width: 1em;
    height: 1em;
}

.container_content .footer_post .comment_post {
    margin-left: 2em;
    width: 1em;
    height: 1em;
}

/*Липкий контейнер*/

.container_sticky {
    position:sticky;
    width: 30em;
    height: 100%;
    background-color: rgba(192, 224, 139, 0);
    top: 0px;
    z-index: 100;
    margin: 0 auto;
    padding-left: 2em;
    box-sizing:border-box;
}


/* Для адаптивности на мобильных */
@media (max-width: 1100px) {
    .container_sticky {
        width: 15em;
    }
}

@media (max-width: 600px) {
    .container_sticky {
        display: none;
    }
}

/*Создайте акк*/

.container_sticky .create_account{
    position: relative;
    display: flex;
    margin-left: auto;
    width: 100%;
    min-height: 100%;
    background-color: rgba(49, 74, 100, 0.36);
    border-radius: 2em;
    cursor: pointer;
    align-items: center;
}
.create_account .create_register {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 30;
    cursor: pointer;
    text-decoration: none;
    pointer-events: auto;
    outline: none;
}

.container_sticky .create_account .create_account_image {

    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0px auto;
    justify-content: center;
    align-content: flex-start;
    background-color: rgba(150, 56, 56, 0);
    z-index: auto;

}

.container_sticky .create_account .create_account_image img {
    top: 0;
    left: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 2em;

}

.create_account_text {
    flex-direction: column;
    display: flex;
    position: absolute;
    justify-content: left;
    align-content: flex-start;
    width: 63%;
    height: 100%;
    background-color: rgba(0, 166, 125, 0);
    padding-left: 1em;
    padding-right: 0.5em;
    padding-top: 1em;
    box-sizing:border-box; /*Включает внутренние отступы, без этого padding изменяет рамер контейнера*/
    z-index: auto;
}

.container_sticky .create_account h1{
    font-style: italic;
    text-align: left;
    font-size: 25px;
    font-weight: 700;
    color: #030303;
}

.container_sticky .create_account a{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}

.container_sticky .new_posts_h1 {
    text-align: left;
    font-style: italic;
}

.container_sticky .hr_container_sticky {
	border-top: 1px solid rgba(141, 141, 141, 0.5);
    top:0;
    margin: 0 auto;
}

/*Список постов*/

.container_sticky .resent_post1 {
    position: relative;
    display: flex;
    width: 100%;
    height: 200px;
    background-color: rgba(43, 48, 53, 0);
    border-radius: 10px;
}

.container_sticky .resent_post1 .resent_post1_image {

    position: relative;
    top: 20px;
    width: 15em;
    height: 10em;
    background-color: rgba(141, 141, 141, 0.76);
}

.container_sticky .resent_post1 .resent_post1_name_post {
    margin-left: auto;
    position: relative;
    float: right;
    width: 12em;
    height: 12em;
    background-color: rgba(84, 175, 152, 0);
    padding: 1em 0 0 1em;
    box-sizing:border-box;
    align-items: center;
}

.container_sticky .resent_post1 .resent_post1_name_post h3 {
    font-weight: 700;
    color: #1f1f1f;
    font-size: 16px;
    margin: 0 auto;
}

.container_sticky .resent_post1 .resent_post1_name_post .post-date {
    color: #4f4e4e;
    font-size: 14px;
    font-weight: 700;
    margin: 0.5em auto;
}
.container_sticky .resent_post1 .resent_post1_name_post .post-preview {
    color: #1f1f1f;
    font-size: 16px;
    font-weight: 500;
    margin: 0.5em auto;
}
.container_sticky .resent_post1 .resent_post1_name_post a {
    font-size: 14px;
    color: #363636;
    font-weight: 600;
    transition: .5s;
    text-decoration: none;
}

.container_sticky .resent_post1 .resent_post1_name_post a:hover {
    color: #1d65ce;
}

/*Footer*/
footer {
    align-self: flex-end;
    width: 100%;
    height: 200px;
    background-color: rgba(59, 59, 59, 0.18);
    margin-top: 10%;
}

footer p {
    font-weight: 700;
    font-size: 18px;
    color: #2c2c2c;
    text-align: center;
}
