.search_card {
    position: relative;
    display: flex;
    margin: 1em auto;
    top: 0;
    width: 40%;
    height: 12em;
    background-color: rgba(156, 225, 180, 0);
    border: solid 1px rgb(157, 157, 157);
    border-radius: 1em;
    cursor: pointer;
    align-items: center;
    transition: .6s;


}

.search_card:hover {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);

}

.search_card_article {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
}

.search_card_link {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 148, 86, 0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    pointer-events: auto;
    border-radius: 20px;
    outline: none;
}

.search_card .search_card_image {
    position: relative;
    display: flex;
    width: 40%;
    height: 100%;
    background-color: rgba(15, 116, 168, 0.37);
    overflow: hidden;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    margin-right: 1em;
}

.search_card .search_card_content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    background-color: rgba(175, 115, 115, 0);
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;

}

.search_card .search_card_content .search_card_content_text {
    position: relative;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 255, 255, 0);
}

.search_card_content_text h1{
    font-size: 20px;
    font-weight: 800;
    color: #505050;
}

.search_card_content_footer {
    display: flex;
    align-items: center;

    width: 100%;
    height: 20%;
    padding: 1em 1em 1em 0 ;
    box-sizing: border-box;
    background-color: rgba(180, 84, 187, 0);

}

.search_card_content_footer small {
    font-size: 15px;
    font-weight: 700;
    color: #606060;
}

.search_card_content_footer .like_post {
    display: flex;
    align-self: center;
    width: 1em;
    height: 1em;
    margin-left: 2em;
}

.search_card_content_footer .comment_post {
    display: flex;
    align-self: center;
    width: 1em;
    height: 1em;
    margin-left: 2em;
}

