{% extends "create.html" %}
{% block title %}Изменение статьи{% endblock %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='main.css/create.css')}}"> {% endblock%}

{% block content %}

<body>
    <main>
        <div class="container_body">

            <div class="header-created">

                <div class="back_to_all_posts">
                    <a href="{{ url_for('user', user_id=current_user.id) }}" class="previous">&laquo; Назад</a>
                </div>

                <!-- Информация о пользователе -->
                <div class="post-card__user">
                    <div class="post-card__user-avatar"></div>
                    <div class="post-card__user-info">
                        <p class="post-card__username">{{ current_user.blogname }}</p>
                    </div>
                </div>

        </div>

    <div class="container_create_post">

    <form method="POST">

        <div>
            <input type="text" id="title" name="title" value="{{ post.title }}" placeholder="Придуймайте заголовок" required>
        </div>

         <div>
            <textarea id="content" name="content" placeholder="Начните писать текст" rows="5" required>{{ post.content }}</textarea>
        </div>

        <div class="footer-created">

            <div class="create_post">
                <button type="submit">Опубликовать</button>
            </div>

            <div class="footer-create__theme_selector">
                <label class="theme_selector_name" for="theme"></label>
                <select class="theme_selector_option" id="theme" name="theme" required>
                    <option  value="">Выберите тему</option>
                    {% if themes %}
                    {% for theme in themes %}
                        <option class="" value="{{ theme.id }}">{{ theme.name }}</option>
                    {% endfor %}
                    {% else %}
                    {% endif %}
                </select>
            </div>
        </div>
    </form>

    </div>
        </div>
    </main>
</body>

{% endblock %}