{% extends "base_theme.html" %}
{% block title %}Путешествия{% endblock %}

    {% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css/home.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css/base_page.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css/base_design_article_page.css')}}">
    {% endblock%}


{% block topic %}

    <div class="topic_image"><img src="{{ url_for('static', filename='/topic_image/travel.jpg') }}"></div>
    <div class="topic_image_text">
            <h1>Путешествия</h1>
    </div>
{% endblock %}






